body{background-color: green;
}
.header{
color:#;
text-align:#;
background-color: #;
}
.paragraph{
color:;
text-align:;
background-color: ;
}
.list{
color:;
text-align:;
background-color: ;
}
.link{
color:;
text-align:;
background-color: ;
text-decoration: ;
}
